
@font-face {
  font-family: futuristic;
  src: url(./fonts/aircruiserlaserital.ttf) format('truetype');
}

body {
    background-color: black;
    font-family: futuristic, sans-serif;
}

#container {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
}

canvas {
    background-color: white;
    margin: 0;
    border: none;
    cursor: url(/src/examples/tts/assets/crosshair060.png) 32 32, auto;
}

#mainMenu, #pauseMenu, #gameOverMenu {
    background-color: rgba(0, 0, 0, 0.66); 
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 1;
}

#mainMenu {  
    width: 100%;
    height: 100%;
    top: 0;
    transition: top 0.5s, opacity 0.5s ease-in-out;
}

#pauseMenu {
    width: 50%;
    height: 50%;
    right: 25%;
    left: 25%;
    bottom: 50%;    
    transition: opacity 0.1s ease-in-out;
}

#mainMenu h1, #gameOverMenu h1 {
    font-size: 48px;
    margin-bottom: 30px;    
}

#mainMenu h2 {
    font-size: 24px;
    margin-bottom: 60px;
}

#pauseMenu h1 {
    font-size: 38px;
    margin-bottom: 30px;    
}

.menuButton {
    width: 300px;
    height: 50px;
    background-color: #0066cc;
    margin: 20px auto;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
    color: white;
    border: none;
    text-shadow: 1px 2px 2px black;
    transition: background-color 0.3s;    
}

.menuButton:hover {
    background-color: #0052a3;
}

#credits.show {
    animation-play-state: running;
}

#finalScore {
    font-size: 72px;
}

@keyframes CreditsMovement {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}
